{% extends 'chat/base.html' %}
{% block title %}Создать комнату {% endblock %}
{% block content %}

    <script src="https://cdn.tailwindcss.com"></script>

<body class="bg-pink-100 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-2xl font-bold text-pink-800 text-center mb-6">Создать комнату</h2>

        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-2">
                {{ form.as_p|safe }}
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-pink-600 text-white font-semibold rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-opacity-50">
                Создать комнату
            </button>
        </form>
    </div>
</body>

{% endblock %}
